:root { 
--gray_600:#848484; 
--black_900_7f:#0000007f; 
--gray_400:#bfbfbf; 
--blue_gray_100:#d9d9d9; 
--gray_600_01:#6c6c6c; 
--blue_gray_400:#78828a; 
--blue_500:#2196f3; 
--gray_200:#ebebeb; 
--black_900_3f:#0000003f; 
--black_900_1c:#0000001c; 
--gray_300:#e1e1e1; 
--gray_400_01:#b3b3b3; 
--black_900:#000000; 
--blue_gray_800:#434e58; 
--blue_gray_900:#2e2e2e; 
--white_A700:#ffffff; 
}